/*work sans from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;600;700&display=swap');

/*shared items */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background: orange;
    color: white;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 25px 20px;
    border: 0;
}

.text-light-gray {
    color: gray;
}

.all-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/*header style*/
header {
    background: rgba(235, 129, 8, 0.14);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 auto;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #272525;
}

/*banner style*/
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {

    font-size: 4rem;
    font-weight: 700;
    color: #131313;

}

.banner-container img {
    width: 100%;
    margin-top: 20px;
}

/*main style*/
main {
    max-width: 1400px;
    margin: 70px auto;
}

.team-container {
    display: flex;
    align-items: center;

}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;

}

.team-content {
    padding-left: 100px;
    padding-right: 100px;
}

.team-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.team-title .feature {
    color: #FF900E;
    font-weight: 700;
}

/*feature style*/
.feature {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.feature .all-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-content .feature-card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #ddcbcb;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-img img {
    height: 90%;
    margin-left: 90px;
}

.ten-years-badge {
    border-radius: 8px;
    background: #FF900E;
    color: white;
    width: 340px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h3 {
    font-size: 4rem;
    margin: 0px;

}

.ten-years-badge p {
    font-size: 1.25rem;
}

/*facts card style*/
.facts {
    text-align: center;
}


.facts-card {
    display: flex;
    justify-content: space-around;
}

.facts-card .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card .card-states {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*sponsors style*/
.sponsor {
    text-align: center;
}

.sponsors-img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 40px;
}

.sponsors-img img {
    width: 165px;
}

/*media query style*/
/*for mobile*/

@media screen and (max-width:576px) {
    header {
        padding: 20px;
        width: 100%;

    }

    nav,
    .team-container,
    .facts-card,
    .sponsors-img,
    .feature {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: 1fr;
    }

    .feature-img img {
        width: 90%;
        margin-left: 0px;
    }

    .feature {
        width: 100%;
        margin-right: 0px;
    }

    .ten-years-badge {
        position: static;
    }
}

/*for medium devices*/
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 20px;
    }

    nav,
    .team-container,
    .facts-card,
    .sponsors-img,
    .feature {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: 1fr;
    }

    .facts-card {
        gap: 20px;
    }
}